@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Share Style All ELement */

main > section {
    margin-top: 130px;
}

.dark-2 {
    color: #424242;
}

.all-p-tag {
    color: #727272;
}

.all-teitel-color {
    color: #131313;
}

.disply-flex {
    display: flex;
}

.background-color {
    background-color: #FFF4E7;
}

.primary-btn {
    font-size: 18px;
    padding: 25px 25px;
    color: white;
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
}

.max-width {
    max-width: 1440px;
    margin: 0 auto;
}


/* Header Section */

.navbar,
.banner {
    max-width: 1440px;
    margin: 0 auto;
    align-items: center;
}

/* Navbar Section  */

.navbar {
    justify-content: space-between;
}

ul li {
    list-style: none;
    margin-right: 2rem;
}

ul a {
    text-decoration: none;
}

.navbar-teitle {
    font-size: 45px;
    font-weight: bold;
}

/* Banner Section */

.text-content {
    max-width: 860px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-teitel {
    font-size: 4rem;
}

.banner-img {
    width: 100%;
}

/* Teames Section */
.team {
    align-items: center;
    padding: 15px;
}

.teme-discations {
    margin-left: 130px;
    max-width: 564px;
}

.teames-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.features-teitel {
    font-size: 3rem;
}

.itm-1 {
    color: #727272;
}

.itm-2 {
    color: #131313;
}

.itm-3 {
    color: #FF900E;
}

.features-diception {
    font-size: 1rem;
    color: #727272;
}

/* Fact */

.some-fact{
    max-width: 1440px;
    margin: 0 auto;
     margin-top: 130px;
}
.list-item-in-section{
    display: grid;
    grid-template-columns: repeat(4,1fr);}
.item-fact{
    display: flex;
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 240px;
    height: 180px;
    justify-content: center;
   align-items: center;
   text-align: center;
}
.titel-fact{
    margin-bottom: 10px;
    font-size: 2.7rem;
    color: #131313;
}
.fact-dicption{
    font-size: 17px;
    max-width: 540px;
    margin: 0;
    margin-bottom: 50px;
    color: #727272;
}
.number{
    font-size: 2.3rem;
    margin-top: 7px;
    margin-bottom: 10px;
    color: #383838;
    font-weight: 600;
}
.name{
    font-size: 1.25rem;
    color: #727272;
    margin: 0;
    font-weight: 500;
}

/* Cpmpany Sponcer */

.company-titel{
    max-width: 540px;
    margin: 40px auto;
    text-align: center;

}
.titel{
    font-size: 2.7rem;
    color: #131313;
    margin-top: 10px;

}
.company-dicption{
   font-size: 1rem;
   color: #727272;
}
.company-logo{
    display:grid ;
    grid-template-columns: repeat(5, 1fr);
}
.company-logo img{
    filter: grayscale(100%);
}

/* Fetuchers Section */
.fetures{
    display: flex;
    gap: 120px;
}
.fetures-teitle{
    font-size: 2.7rem;
    border-left: 5px solid #FF900E;
    padding-left: 20px;
    font-weight: bold;
}
.pragraph{
   color: #727272;
}
.card-fetures{
    padding: 25px 30px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
   margin-bottom: 20px;
   border-radius: 8px;

}   
.card-teitle{
    margin: 0;
    font-size: 1.4rem;
    font-weight: 600;
}
.fetures-img img{
    width: 100%;
}
#img-btn{
   margin-left: -100px;
   margin-top: -100px;
}
#year-text{
  font-size: 4rem;
  font-weight: bold;
}
#expline-text{
  font-size: 1.5rem;
}

/* Footer Section */
.footer-clear{
    margin-top: 100px;
    text-align: center;
    background-color: #FFF4E7;
    padding: 26px 20px ;
}
.text-futter{
    font-size: 1.5rem;
    color: #727272;
}

/* Responcive Quiery */
@media screen and (max-width:576px) {

    .navbar,
    .list-item {
        flex-direction: column;
        gap: 10px;
    }

    .team {
        flex-direction: column;
    }

    .teames-img {
        grid-template-columns: repeat(1, 1fr);
    }

    .teames-img img {
        width: 100%;
    }

    .teme-discations {
        margin-left: 25px;
    }
    .list-item-in-section{
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
    }
    .list-item-in-section{
        justify-items: center;
    }
    .company-logo{
    grid-template-columns: repeat(1, 1fr);
    gap: 45px;
    justify-items: center;
    }
    .fetures{
        flex-direction: column;
    }

    #img-btn{
   margin-left: 10px;
   margin-top: 10px;
}
#year-text{
  font-size: 2rem;
  font-weight: 600;
}
#expline-text{
  font-size: 1rem;
}
.text-futter{
    max-width: 1440px;

}   
}

/* Mideam Teblet */
@media screen and (min-width:576px) 
and (max-width:992px) {
    .teme-discations {
        margin-left: 22px;
        max-width: 650px;
    }
    .team {
        flex-direction: column;
    }
     .list-item-in-section{
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
        justify-items: center;
    }
     .some-fact{
        margin-left: 30px;
    }
     .company-logo{
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 40px;
   }
   .fetures{
    flex-direction:column-reverse ;
    gap: 120px;
}
.footer-clear{
     width: 100%;
}
  
  #img-btn{
   margin-left: 10px;
   margin-top: 10px;
}
#year-text{
  font-size: 2.57rem;
  font-weight: 600;
}
#expline-text{
  font-size: 1.34rem;
}
}